# Homework 5 : WeatherPy using Openweathermap API and Citipy

In [64]:
import openweathermapy.core as ow
from citipy import citipy as cp
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [65]:
# city = citipy.nearest_city(22.99, 120.21)
# city
# <citipy.City instance at 0x1069b6518>
# city.city_name     # Tainan, my home town
# 'tainan'
# city.country_code
# 'tw'                  # And the country is surely Taiwan

In [66]:
# Create dictionary of random coordinates
random_coords = {'Latitude': lat,'Longitude': lon}
for i in range(0,10): 
    ran_lat = random.uniform(-90, 90)
    lat.append(ran_lat)  
    ran_lon = random.uniform(-180,180)
    lon.append(ran_lon)

In [67]:
# Check number of coordinates
len(random_coords['Latitude'])

80

In [68]:
#Create dataframe for coordinates
df = pd.DataFrame(random_coords)
df.head()

    Latitude   Longitude
0  57.255583  117.209930
1 -19.910939  143.842916
2  73.648449  137.799919
3  65.829423   85.356049
4 -17.646220 -107.825545

In [79]:
# Create additional colums for City, Temperature (F), Humidity (%), Cloudiness (%), Wind Speed (mph)
df['City'] = ""
df['Country'] = ""
df['Temperature (F)'] = ""
df['Humidity (%)'] = ""
df['Cloudiness (%)'] = ""
df['Wind Speed (mph)'] = ""
df.head(2)

,Latitude,Longitude,City,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country
0,57.255583,117.209930,,,,,,
1,-19.910939,143.842916,,,,,,

In [76]:
# Create loop through coordinates to return cities
for index, row in df.interrows():
    city = cp.nearest_city(-19.910939, 143.84296)
    city.city_name

'charters towers'

'au'