# Homework 5 : WeatherPy using Openweathermap API and Citipy

In [1]:
import openweathermapy.core as ow
from citipy import citipy as cp
import pandas as pd
import numpy as np
import random
import requests as req
import json
import matplotlib.pyplot as plt
import seaborn as sns
import time

%matplotlib inline

In [2]:
# Save config information.
#api_key = "bfe8624363d9fae0c73d21055be1bfe8" #my weather api
api_key = "25bc90a1196e6f153eece0bc0b0fc9eb" 
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"

# Build partial query URL
query_url = url + "appid=" + api_key + "&units=" + units + "&q="

In [39]:
# Create dictionary of random coordinates; testing shows that range of 1500 will give <800 unique cities from Citipy
lat = []
lon = []
random_coords = {'Latitude': lat,'Longitude': lon}
for i in range(0,30): 
    ran_lat = random.uniform(-90, 90)
    lat.append(ran_lat)  
    ran_lon = random.uniform(-180,180)
    lon.append(ran_lon)

In [40]:
# Check number of coordinates
len(random_coords['Latitude'])

30

In [41]:
#Create dataframe for coordinates
df = pd.DataFrame(random_coords)
df.head(3)

    Latitude   Longitude
0  67.483246  132.932337
1  50.518862  -26.111528
2  68.359989  -21.021805

In [42]:
# Create additional colums for City, Temperature (F), Humidity (%), Cloudiness (%), Wind Speed (mph)
df['City'] = ""
df['Country'] = ""
df['Temperature (F)'] = ""
df['Humidity (%)'] = ""
df['Cloudiness (%)'] = ""
df['Wind Speed (mph)'] = ""
df.head(2)

,Latitude,Longitude,City,Country,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,67.483246,132.932337,,,,,,
1,50.518862,-26.111528,,,,,,

In [43]:
# Loop through coordinates in df with Citipy to return cities
row_count = 1
for index, row in df.iterrows():
   
    city = cp.nearest_city((row["Latitude"]), (row["Longitude"]))
    return_city = city.city_name
    return_country = city.country_code
    
    df.set_value(index, "City", return_city)
    df.set_value(index, "Country", return_country) 
     
    # Print log to ensure loop is working correctly
    #print("Now retrieving city # " + str(row_count) + " " + return_city + ", " + return_country)
    row_count += 1 
    
#df.head(3)

In [44]:
# Check number of unique (non-repeating) cities were generated
len(df["City"].unique())

29

In [45]:
# Visual check and length check duplicated cities
#df.sort_values("City", inplace=True)
mask=df["City"].duplicated()
df[mask].head()
#len(df[mask])

,Latitude,Longitude,City,Country,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
27,72.830314,108.114637,khatanga,ru,,,,

In [46]:
# There are alot of duplicates since Citipy tries to match to random coords to nearest city
# Drop duplicates and check that results count is same as unique and reset index numbers
df.drop_duplicates(subset = ["City"], keep = 'first', inplace=True) # 'first keeps first occurence 
df.reset_index(drop=True, inplace=True)
df

,Latitude,Longitude,City,Country,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,67.483246,132.932337,verkhoyansk,ru,,,,
1,50.518862,-26.111528,lagoa,pt,,,,
2,68.359989,-21.021805,illoqqortoormiut,gl,,,,
3,21.458411,76.701493,nepa nagar,in,,,,
4,69.602653,-84.317581,clyde river,ca,,,,
5,31.761028,117.921291,chaohu,cn,,,,
6,31.610945,-109.167375,douglas,us,,,,
7,9.969122,92.681076,port blair,in,,,,
8,-36.975060,65.105995,souillac,mu,,,,
9,-32.480452,143.147510,broken hill,au,,,,
10,86.091706,-108.534846,yellowknife,ca,,,,
11,-63.172019,-38.763553,ushuaia,ar,,,,
12,9.745154,-121.715151,cabo san lucas,mx,,,,
13,53.795213,-137.508056,sitka,us,,,,
14,34.731511,122.371278,hede,cn,,,,
15,10.642297,-59.058344,scarborough,tt,,,,
16,86.213813,101.621429,khatanga,ru,,,,
17,-0.757195,-57.150373,terra santa,br,,,,
18,20.335104,-17.325959,nouadhibou,mr,,,,
19,-75.140089,-103.278844,punta arenas,cl,,,,
20,3.484290,13.833707,abong mbang,cm,,,,
21,-68.543582,-150.269616,mataura,pf,,,,
22,60.137893,-53.787233,paamiut,gl,,,,
23,55.289506,-43.901766,nanortalik,gl,,,,
24,27.157813,-74.578946,marsh harbour,bs,,,,
25,-48.766598,-23.307497,arraial do cabo,br,,,,
26,-51.109940,82.391739,busselton,au,,,,
27,41.686194,-38.421190,ribeira grande,pt,,,,
28,-39.279186,-161.405495,avarua,ck,,,,

In [47]:
# Create function to retrieve, set, and print data for each city
def retrieve_set_data():
    print("Now retrieving Set: %s, Record: %s, City: %s: %s" %
          (str(set_count), str(index), city.title(), target_url))
            
    weather_data = [req.get(target_url).json()]
    return_temp = weather_data[0]["main"]["temp_max"]
    return_humid = weather_data[0]["main"]["humidity"]
    return_cloud = weather_data[0]["clouds"]["all"]
    return_wind = weather_data[0]["wind"]["speed"]
    return_lat = weather_data[0]["coord"]["lat"]
    return_lon = weather_data[0]["coord"]["lon"]
    
    df.set_value(index, "Temperature (F)", return_temp)
    df.set_value(index, "Humidity (%)", return_humid) 
    df.set_value(index, "Cloudiness (%)", return_cloud)
    df.set_value(index, "Wind Speed (mph)", return_wind)         
    df.set_value(index, "Latitude", return_lat)
    df.set_value(index, "Longitude", return_lon)

In [48]:
# Loop through all cities using OpenWeatherMap to return weather info
# Need to overwrite random-generated coords with actual coords since plotting random-generated lat not same as city lat
row_count = 1
set_count = 1
for index, row in df.iterrows():
    
    city = row["City"]
    target_url = (query_url + city)
    
    # Print log to ensure loop is working correctly
    # Retreive in increments include timer to mitigate exceeding API limits
    if row_count<=5:
        retrieve_set_data()
        row_count += 1 
        
    else:
        retrieve_set_data()
        row_count = 1
        set_count += 1
        time.sleep(5)

Now retrieving Set: 1, Record: 0, City: Verkhoyansk: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=verkhoyansk
Now retrieving Set: 1, Record: 1, City: Lagoa: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=lagoa
Now retrieving Set: 1, Record: 2, City: Illoqqortoormiut: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=illoqqortoormiut
Now retrieving Set: 1, Record: 3, City: Nepa Nagar: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=nepa nagar
Now retrieving Set: 1, Record: 4, City: Clyde River: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=clyde river
Now retrieving Set: 1, Record: 5, City: Chaohu: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=chaohu
Now retrieving Set: 2, Record: 6, City: Douglas: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=douglas
Now retrieving Set: 2, Record: 7, City: Port Blair: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=port blair
Now retrieving Set: 2, Record: 8, City: Souillac: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=souillac
Now retrieving Set: 2, Record: 9, City: Broken Hill: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=broken hill
Now retrieving Set: 2, Record: 10, City: Yellowknife: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=yellowknife
Now retrieving Set: 2, Record: 11, City: Ushuaia: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=ushuaia
Now retrieving Set: 3, Record: 12, City: Cabo San Lucas: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=cabo san lucas
Now retrieving Set: 3, Record: 13, City: Sitka: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=sitka
Now retrieving Set: 3, Record: 14, City: Hede: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=hede
Now retrieving Set: 3, Record: 15, City: Scarborough: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=scarborough
Now retrieving Set: 3, Record: 16, City: Khatanga: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=khatanga
Now retrieving Set: 3, Record: 17, City: Terra Santa: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=terra santa
Now retrieving Set: 4, Record: 18, City: Nouadhibou: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=nouadhibou
Now retrieving Set: 4, Record: 19, City: Punta Arenas: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=punta arenas
Now retrieving Set: 4, Record: 20, City: Abong Mbang: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=abong mbang
Now retrieving Set: 4, Record: 21, City: Mataura: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=mataura
Now retrieving Set: 4, Record: 22, City: Paamiut: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=paamiut
Now retrieving Set: 4, Record: 23, City: Nanortalik: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=nanortalik
Now retrieving Set: 5, Record: 24, City: Marsh Harbour: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=marsh harbour
Now retrieving Set: 5, Record: 25, City: Arraial Do Cabo: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=arraial do cabo
Now retrieving Set: 5, Record: 26, City: Busselton: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=busselton
Now retrieving Set: 5, Record: 27, City: Ribeira Grande: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=ribeira grande
Now retrieving Set: 5, Record: 28, City: Avarua: http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=imperial&q=avarua

In [49]:
df

,Latitude,Longitude,City,Country,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,67.54,133.38,verkhoyansk,ru,57.25,95,92,5.17
1,39.05,-27.98,lagoa,pt,71.65,100,24,5.39
2,41.90,12.49,illoqqortoormiut,gl,64.4,63,0,2.24
3,21.47,76.40,nepa nagar,in,82,88,88,9.64
4,70.47,-68.59,clyde river,ca,37.4,93,90,3.36
5,31.60,117.87,chaohu,cn,78.8,100,20,8.95
6,54.15,-4.48,douglas,us,57.2,87,20,10.29
7,11.67,92.75,port blair,in,77.5,100,92,11.65
8,-20.52,57.52,souillac,mu,75.2,83,40,11.41
9,-31.95,141.43,broken hill,au,56.89,53,12,14.12
10,62.46,-114.35,yellowknife,ca,68,68,40,9.17
11,-54.80,-68.30,ushuaia,ar,35.6,51,40,4.7
12,22.89,-109.91,cabo san lucas,mx,87.8,48,5,4.7
13,57.05,-135.33,sitka,us,57.2,82,75,5.39
14,33.77,120.25,hede,cn,88.03,95,32,6.06
15,54.28,-0.40,scarborough,tt,55.4,93,24,5.82
16,71.97,102.50,khatanga,ru,40.15,88,56,16.02
17,-2.10,-56.49,terra santa,br,78.76,76,0,5.5
18,20.93,-17.03,nouadhibou,mr,73.4,88,0,3.36
19,-53.15,-70.92,punta arenas,cl,39.2,80,75,10.29
20,3.98,13.18,abong mbang,cm,70.3,96,88,2.71
21,27.50,77.68,mataura,pf,86.77,98,64,5.5
22,61.99,-49.67,paamiut,gl,41.68,93,0,7.18
23,60.14,-45.24,nanortalik,gl,40.6,90,76,5.5
24,26.54,-77.06,marsh harbour,bs,84.16,100,92,14.56
25,-22.97,-42.03,arraial do cabo,br,66.88,95,88,10.09
26,-33.65,115.33,busselton,au,61.21,100,0,11.54
27,38.52,-28.70,ribeira grande,pt,71.83,100,32,6.06
28,-21.21,-159.78,avarua,ck,78.8,74,20,6.93